*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Arvo Bold';
    src: url('../fonts/Arvo-Bold.eot');
    src: url('../fonts/Arvo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arvo-Bold.woff2') format('woff2'),
    url('../fonts/Arvo-Bold.woff') format('woff'),
    url('../fonts/Arvo-Bold.ttf') format('truetype'),
    url('../fonts/Arvo-Bold.svg#Arvo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo Regular';
    src: url('../fonts/Arvo.eot');
    src: url('../fonts/Arvo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arvo.woff2') format('woff2'),
    url('../fonts/Arvo.woff') format('woff'),
    url('../fonts/Arvo.ttf') format('truetype'),
    url('../fonts/Arvo.svg#Arvo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.header{
    height: 40px;
    background-color: #af2024;
}
.main_sec{
    background-color: #3f0002;
    padding-top: 20px;
}
.bg-img{
    position: relative;
    z-index: 0;
}
.bg-img img{
    width: 100%;
    position: absolute;
    height: 1001px;
    object-fit: cover;

}
.footer{
    height: 454px;
    background-color: black;
}
.main_sec p{
    line-height: 500px;
    color: white;
    font-size: 30px;
}
.logo{
    margin: 0 270px 0;
    position: relative;
    z-index: 1;
}
.logo img{
    margin-bottom: 21px;
}
.soc_icons{
    position: fixed;
    display: block;
    z-index: 2;
    margin-top: 104px;
    margin-left: auto;
    margin-right: 0;
    width: 50px;
    box-sizing: border-box;
}
.soc_icons a:first-of-type{
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 33px;
    color: white;
    background-color: #98161b;
    transition: 0.3s;
}
.soc_icons a:last-of-type{
    display: block;
    height: 50px;
    background-color: #98161b;
    color: white;
    line-height: 50px;
    font-size: 27px;
    text-align: center;
    transition: 0.3s;
}
.soc_icons a:hover{
    background-color: #850409;
}
.content_block{
    max-width: 710px;
    position: relative;
    z-index: 1;
    margin: auto;
    top: 36px;
}
.content_block_h2{
    display: block;
    height: 70px;
    background-color: #98161b;
    color: white;
    font: 20px "Arvo Bold";
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}
.content_block_main_sec{
    height: 1000px;
    background-color: white;
}
.footer{
    height: 100px;
    position: relative;
    z-index: 0;
    color: black;
}